<% layout("/layouts/boilerplate") %>
<body>
</br> </br> 

    <div class="row">
        
        <div class="col-8 offset-2" >
            <h3>Create a New Listing</h3>
    <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title">Title</label>
            <input name="listing[title]" placeholder="Enter title" type="text" class="form-control" required>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price">Price</label>
                <input name="listing[price]" placeholder="Enter price" type="number" class="form-control" required>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country">Country</label>
                <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" required>
            </div>
                    
        </div>


        <div class="mb-3">
            <label for="location">Location</label>
            <input name="listing[location]" placeholder="Enter location" type="text" class="form-control" required>
        </div>
<div class="mb-3">
    <label for="image">Image</label>
    <input name="listing[image]"  type="file" class="form-control" required>
</div>
 

        <div class="mb-3">  
            <label for="description">Description</label>
            <textarea name="listing[description]" placeholder="Enter description" class="form-control" required></textarea>
        </div>

        <br> 
        <button class = "btn btn-custom" type="submit">Add</button>
    </br>  </br>  
    </form>
</div>
</div>
</body>
